<style>
  .footer-custom { background-color: rgb(234, 84, 85, 255); }
</style>

<footer class="footer footer-custom">
  <div class="container text-center">
    <img
      src="https://res.cloudinary.com/diytgodwa/image/upload/c_scale,w_150/v1676718820/button_sm_720_tcnetq.png"
      alt="SchoolMate Logo"
      class="mb-2"
    />
    <p
      class="text-white mb-0"
      style="font-family: 'Helvetica Neue', sans-serif;"
    >Copyright © 2023 SchoolMate. Todos los derechos reservados.</p>
  </div>
</footer>