<body style="font-family: 'Patrick Hand SC' cursive fixed-bottom">
     </div>
        <form action="/message/new" method="POST" class="form-block">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group fl_icon">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <input class="form-input" type="text" placeholder="Your name">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 fl_icon">
                    <div class="form-group fl_icon">
                        <div class="icon"><i class="fa fa-envelope-o"></i></div>
                        <input class="form-input" type="text" placeholder="Your email">
                    </div>
                </div>
                <div class="col-xs-12">									
                    <div class="form-group">
                        <textarea class="form-input" required="" placeholder="Your text"></textarea>
                    </div>
                </div>
            </div>
        </form>
    <button type="submit" class="btn btn-primary mx-auto btn-sm mt-1 mb-4">Submit</button>
</body>