<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod orci in turpis vestibulum, quis posuere nibh consequat. Fusce suscipit augue at augue maximus tincidunt. Integer sed mi in nulla rhoncus iaculis. Pellentesque a sem vel turpis tempor molestie sit amet eget sapien.</p>
                <p>Donec aliquam turpis sit amet tortor pellentesque, in scelerisque velit rhoncus. Nulla facilisi. Nullam non felis quis tellus dapibus interdum. Sed id magna sit amet ipsum elementum malesuada sed ac nunc. Donec id feugiat lorem, ac tincidunt sapien. Nam dignissim lacus in lectus dignissim, eu semper felis bibendum. Praesent consequat eget quam vel euismod. Duis bibendum semper leo, a elementum elit ullamcorper sit amet. Fusce euismod, velit eu efficitur vestibulum, sapien felis feugiat nisi, vel sagittis eros felis auctor nisl. Sed bibendum, ex at iaculis suscipit, nulla dolor accumsan justo, sit amet eleifend massa dolor id mi. Aliquam viverra, tortor at gravida finibus, velit velit posuere massa, ac lacinia dolor nulla vitae mauris.</p>
            </div>
            <div class="col-md-6">
                <img src="https://via.placeholder.com/500x500" alt="placeholder" class="img-fluid">
            </div>
        </div>
    </div>