<style>
  button.btn-primary {
    background-color: grey;
    border-color: grey;
  }

  button.btn-primary:hover {
    background-color: rgba(234, 84, 85, 1);
    border-color:rgba(234, 84, 85, 1) ;
  }
</style>

<h1 >Gestión de asignaturas y alumnos</h1>

{{#if errors}}
  <div class="alert alert-danger">
    Revisa el formulario.
  </div>
{{/if}}

<form action="/users" method="POST">
  <div class="mb-3">
    <label for="subject" class="form-label">Selecciona asignatura</label>
    <select class="form-select" aria-label="Default select example">
      <option value="" disabled selected hidden>Asignaturas</option>
      <option value="1">Lengua</option>
      <option value="2">Matemáticas</option>
      <option value="3">Inglés</option>
    </select>
    {{#if errors.name}}
      <div class="invalid-feedback">
        {{errors.name.message}}
      </div>
    {{/if}}
  </div>
  
  <div class="mb-3">
    <label for="student" class="form-label">Selecciona alumn@</label>
    <select class="form-select" aria-label="Default select example">
      <option value="" disabled selected hidden>Alumn@</option>
      <option value="1">Opción 1</option>
      <option value="2">Opción 2</option>
      <option value="3">Opción 3</option>
    </select>
    {{#if errors.lastName}}
      <div class="invalid-feedback">
        {{errors.lastName.message}}
      </div>
    {{/if}}
  </div>
  
  <button type="submit" class="btn btn-primary">Asignar</button>
</form> 