  <div class="container">
    <br />
    <div class="text-center">
      <img
        src="https://res.cloudinary.com/diytgodwa/image/upload/v1676718820/button_sm_720_tcnetq.png"
        alt="SchoolMate Logo"
      />
    </div>
    <br />
    <h1 class="text-center mdc-typography--headline1">Llevando la educación al
      siguiente nivel</h1>
    <br />
    <h3 class="text-center mdc-typography--body1">SchoolMate es una aplicación
      de gestión educativa que reúne a profesores y estudiantes en un solo
      lugar, lo que simplifica el proceso de aprendizaje y ayuda a los padres a
      mantenerse al día con el progreso de sus hijos.
    </h3>
    <br />
    <ul>
      <h2 class="mdc-typography--headline2">Características:</h2>
      <br />
      <li><h4 class="mdc-typography--headline4">Conéctate, Aprende y Crece</h4></li>
      <p class="mdc-typography--body1">SchoolMate proporciona una plataforma
        fácil de usar para que los maestros interactúen con sus alumnos,
        compartan tareas y calificaciones, así como también controlen la
        asistencia. Los estudiantes pueden chatear con sus compañeros de clase
        sobre las tareas, revisar sus calificaciones en cualquier momento y
        mantenerse conectados con sus maestros.</p>
      <li><h4 class="mdc-typography--headline4">Estar al día</h4></li>
      <p class="mdc-typography--body1">Los padres pueden realizar un seguimiento
        del progreso de sus hijos con las actualizaciones en tiempo real de
        SchoolMate sobre calificaciones, registros de asistencia y otra
        información educativa. También pueden comunicarse fácilmente con los
        maestros y los administradores de la escuela a través de la aplicación
        para asegurarse de que su hij@ reciba la mejor educación posible.</p>
      <li><h4 class="mdc-typography--headline4">Todo lo que necesitas en un solo
          lugar</h4></li>
      <p class="mdc-typography--body1">SchoolMate es una aplicación integral de
        gestión educativa que brinda todas las herramientas que necesita para
        una experiencia de aprendizaje exitosa. Con su interfaz fácil de usar y
        sus potentes funciones, es fácil de usar tanto para profesores como para
        estudiantes.</p>
    </ul>
    <br />
  </div>