<body style="font-family: 'Patrick Hand SC', cursive;">
    <div class="container my-5">
    <div class="card p-3">
        <h3 class="card-title text-center mb-4" style="color: rgb(234, 84, 85)">Create a new post</h3>
        <form>
        <div class="form-group">
            <textarea class="form-control" id="postInput" rows="3" placeholder="Enter your post here..." style="background-color: white;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: rgb(234, 84, 85); border-color: rgb(234, 84, 85);">Post</button>
        </form>
    </div>
    </div>
</body>